{% extends "base.html" %}
{% block body %}

<h1>{{ escape(title) }}</h1>
<ul class="ids-with-titles">
{% for fname, dirname, fsize, descr, source_url, suffix, ftype, static_path in items %}
	<li><a href="/attachment/{{ escape(dirname) }}" class="cite-key"><span class="filename">{{ escape(fname) }}</span></a>

	<span class="attrs doc-type">(<a href="{{ escape(static_path) }}">{{ escape(fsize) }}</a>)</span>

	<div class="cite-key-title">
	{{ escape(descr) }}
	</div>

	</li>
{% end %}
</ul>

{% end %}

